openapi: 3.2.0
info:
  title: Coinbase Exchange Withdrawals API
  description: The Coinbase Exchange API provides high-throughput access to real-time market data and order management for institutional and professional traders. It supports REST APIs for direct order placement, account management, currency information, deposits, withdrawals, and live market data. The API is designed for high-volume trading operations on the Coinbase exchange with low-latency execution.
  version: '1.0'
  contact:
    name: Coinbase Developer Support
    url: https://help.coinbase.com
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.exchange.coinbase.com
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Withdrawals
  description: Manage crypto withdrawals from exchange accounts to external addresses or Coinbase accounts.
paths:
  /withdrawals/payment-method:
    post:
      operationId: withdrawToPaymentMethod
      summary: Withdraw to payment method
      description: Withdraws funds from the exchange account to a linked payment method.
      tags:
      - Withdrawals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              - payment_method_id
              properties:
                amount:
                  type: string
                  description: Amount to withdraw
                currency:
                  type: string
                  description: Currency to withdraw
                payment_method_id:
                  type: string
                  description: ID of the payment method
      responses:
        '200':
          description: Withdrawal initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
  /withdrawals/coinbase-account:
    post:
      operationId: withdrawToCoinbaseAccount
      summary: Withdraw to Coinbase account
      description: Withdraws funds from the exchange account to a Coinbase account.
      tags:
      - Withdrawals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              - coinbase_account_id
              properties:
                amount:
                  type: string
                  description: Amount to withdraw
                currency:
                  type: string
                  description: Currency to withdraw
                coinbase_account_id:
                  type: string
                  description: ID of the Coinbase account
      responses:
        '200':
          description: Withdrawal initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
  /withdrawals/crypto:
    post:
      operationId: withdrawToCryptoAddress
      summary: Withdraw to crypto address
      description: Withdraws funds from the exchange account to an external crypto address.
      tags:
      - Withdrawals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              - crypto_address
              properties:
                amount:
                  type: string
                  description: Amount to withdraw
                currency:
                  type: string
                  description: Currency to withdraw
                crypto_address:
                  type: string
                  description: Destination crypto address
      responses:
        '200':
          description: Withdrawal initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
components:
  schemas:
    Transfer:
      type: object
      description: A deposit or withdrawal transfer
      properties:
        id:
          type: string
          description: Transfer identifier
        type:
          type: string
          description: Transfer type
          enum:
          - deposit
          - withdraw
        created_at:
          type: string
          format: date-time
          description: When the transfer was created
        completed_at:
          type: string
          format: date-time
          description: When the transfer completed
        amount:
          type: string
          description: Transfer amount
        details:
          type: object
          description: Additional transfer details
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: CB-ACCESS-KEY
      description: Exchange API key authentication using HMAC SHA-256 signatures. Requires CB-ACCESS-KEY, CB-ACCESS-SIGN, CB-ACCESS-TIMESTAMP, and CB-ACCESS-PASSPHRASE headers.
externalDocs:
  description: Coinbase Exchange API Documentation
  url: https://docs.cdp.coinbase.com/exchange/docs/welcome
