openapi: 3.2.0
info:
  title: Coinbase Fees API
  contact:
    name: Coinbase Developer Support
    url: https://help.coinbase.com
  termsOfService: https://www.coinbase.com/legal/user-agreement
  version: '1.0'
  description: 'Operations tagged Fees across 2 of this provider''s published API definitions: coinbase-advanced-trade-openapi.yml, coinbase-exchange-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.coinbase.com/api/v3/brokerage
  description: Production Server
- url: https://api.exchange.coinbase.com
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Fees
  description: Retrieve transaction summary and fee information for the authenticated user.
paths:
  /transaction_summary:
    get:
      operationId: getTransactionSummary
      summary: Get transaction summary
      description: Retrieves the transaction summary for the authenticated user, including fee tier information, total volume, and maker/taker fee rates.
      tags:
      - Fees
      parameters:
      - name: product_type
        in: query
        description: Filter by product type
        schema:
          type: string
          enum:
          - SPOT
          - FUTURE
      responses:
        '200':
          description: Successfully retrieved transaction summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSummary'
        '401':
          description: Unauthorized - Invalid or missing authentication
    servers:
    - url: https://api.coinbase.com/api/v3/brokerage
      description: Production Server
  /fees:
    get:
      operationId: getFees
      summary: Get fees
      description: Retrieves the current maker and taker fee rates for the authenticated user based on their trading volume.
      tags:
      - Fees
      responses:
        '200':
          description: Successfully retrieved fees
          content:
            application/json:
              schema:
                type: object
                properties:
                  maker_fee_rate:
                    type: string
                    description: Current maker fee rate
                  taker_fee_rate:
                    type: string
                    description: Current taker fee rate
                  usd_volume:
                    type: string
                    description: USD trading volume
    servers:
    - url: https://api.exchange.coinbase.com
      description: Production Server
components:
  schemas:
    TransactionSummary:
      type: object
      description: Summary of user transaction fees and volume
      properties:
        total_volume:
          type: number
          description: Total trading volume
        total_fees:
          type: number
          description: Total fees paid
        fee_tier:
          type: object
          description: Current fee tier information
          properties:
            pricing_tier:
              type: string
              description: Current pricing tier name
            usd_from:
              type: string
              description: Lower bound of the tier volume range
            usd_to:
              type: string
              description: Upper bound of the tier volume range
            taker_fee_rate:
              type: string
              description: Taker fee rate for the current tier
            maker_fee_rate:
              type: string
              description: Maker fee rate for the current tier
        advanced_trade_only_volume:
          type: number
          description: Volume from Advanced Trade only
        advanced_trade_only_fees:
          type: number
          description: Fees from Advanced Trade only
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: CB-ACCESS-KEY
      description: Coinbase API key authentication using HMAC SHA-256 signatures. Requires CB-ACCESS-KEY, CB-ACCESS-SIGN, and CB-ACCESS-TIMESTAMP headers.
x-refined-from:
- coinbase-advanced-trade-openapi.yml
- coinbase-exchange-openapi.yml
