openapi: 3.2.0
info:
  title: Coinbase Prime Assets API
  description: The Coinbase Prime API enables institutions to manage cryptocurrency trading and custody on behalf of their clients. It supports programmatic trading strategies, automated platform processes, portfolio management, and custodial operations. The REST API provides endpoints for order execution, account management, transaction history, and reporting, designed for institutional-grade workflows and compliance requirements. API keys are scoped to individual portfolios and require HMAC SHA-256 authentication.
  version: '1.0'
  contact:
    name: Coinbase Prime Support
    url: https://help.coinbase.com/en/prime
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.prime.coinbase.com/v1
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Assets
  description: Retrieve information about supported assets and products.
paths:
  /portfolios/{portfolio_id}/products:
    get:
      operationId: listProducts
      summary: List products
      description: Retrieves the list of tradeable products available in the portfolio.
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/PortfolioIdParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successfully retrieved products
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 3000
        default: 100
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination
      schema:
        type: string
    PortfolioIdParam:
      name: portfolio_id
      in: path
      required: true
      description: Portfolio identifier
      schema:
        type: string
  schemas:
    Pagination:
      type: object
      description: Pagination information for list responses
      properties:
        next_cursor:
          type: string
          description: Cursor for the next page
        sort_direction:
          type: string
          description: Sort direction
        has_next:
          type: boolean
          description: Whether there are more results
    Product:
      type: object
      description: A tradeable product
      properties:
        id:
          type: string
          description: Product identifier
        base_currency:
          type: string
          description: Base currency
        quote_currency:
          type: string
          description: Quote currency
        base_min_quantity:
          type: string
          description: Minimum base quantity
        base_max_quantity:
          type: string
          description: Maximum base quantity
        base_quantity_increment:
          type: string
          description: Base quantity increment
        quote_increment:
          type: string
          description: Quote price increment
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-CB-ACCESS-KEY
      description: Coinbase Prime API key authentication. Requires X-CB-ACCESS-KEY, X-CB-ACCESS-SIGNATURE, X-CB-ACCESS-TIMESTAMP, and X-CB-ACCESS-PASSPHRASE headers with HMAC SHA-256 signatures.
externalDocs:
  description: Coinbase Prime API Documentation
  url: https://docs.cdp.coinbase.com/prime/docs/rest-requests
