openapi: 3.2.0
info:
  title: Coinbase Prime Balances API
  description: The Coinbase Prime API enables institutions to manage cryptocurrency trading and custody on behalf of their clients. It supports programmatic trading strategies, automated platform processes, portfolio management, and custodial operations. The REST API provides endpoints for order execution, account management, transaction history, and reporting, designed for institutional-grade workflows and compliance requirements. API keys are scoped to individual portfolios and require HMAC SHA-256 authentication.
  version: '1.0'
  contact:
    name: Coinbase Prime Support
    url: https://help.coinbase.com/en/prime
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.prime.coinbase.com/v1
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Balances
  description: Retrieve portfolio balance information across all assets.
paths:
  /portfolios/{portfolio_id}/balances:
    get:
      operationId: listPortfolioBalances
      summary: List portfolio balances
      description: Retrieves all asset balances for a specific portfolio, including available, held, and total amounts for each currency.
      tags:
      - Balances
      parameters:
      - $ref: '#/components/parameters/PortfolioIdParam'
      - name: symbols
        in: query
        description: Filter by currency symbols
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortDirectionParam'
      responses:
        '200':
          description: Successfully retrieved balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/Balance'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  schemas:
    Balance:
      type: object
      description: An asset balance within a portfolio
      properties:
        symbol:
          type: string
          description: Currency symbol
        amount:
          type: string
          description: Total amount
        holds:
          type: string
          description: Amount on hold
        bonded_amount:
          type: string
          description: Amount bonded in staking
        reserved_amount:
          type: string
          description: Reserved amount
        unbonding_amount:
          type: string
          description: Amount currently unbonding
        unvested_amount:
          type: string
          description: Unvested amount
        pending_rewards_amount:
          type: string
          description: Pending staking rewards
        past_rewards_amount:
          type: string
          description: Previously claimed staking rewards
        bondable_amount:
          type: string
          description: Amount available for staking
        withdrawable_amount:
          type: string
          description: Amount available for withdrawal
        fiat_amount:
          type: string
          description: Fiat equivalent value
    Pagination:
      type: object
      description: Pagination information for list responses
      properties:
        next_cursor:
          type: string
          description: Cursor for the next page
        sort_direction:
          type: string
          description: Sort direction
        has_next:
          type: boolean
          description: Whether there are more results
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 3000
        default: 100
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination
      schema:
        type: string
    SortDirectionParam:
      name: sort_direction
      in: query
      description: Sort direction for results
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: DESC
    PortfolioIdParam:
      name: portfolio_id
      in: path
      required: true
      description: Portfolio identifier
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-CB-ACCESS-KEY
      description: Coinbase Prime API key authentication. Requires X-CB-ACCESS-KEY, X-CB-ACCESS-SIGNATURE, X-CB-ACCESS-TIMESTAMP, and X-CB-ACCESS-PASSPHRASE headers with HMAC SHA-256 signatures.
externalDocs:
  description: Coinbase Prime API Documentation
  url: https://docs.cdp.coinbase.com/prime/docs/rest-requests
