openapi: 3.2.0
info:
  title: Coinbase Exchange Profiles API
  description: The Coinbase Exchange API provides high-throughput access to real-time market data and order management for institutional and professional traders. It supports REST APIs for direct order placement, account management, currency information, deposits, withdrawals, and live market data. The API is designed for high-volume trading operations on the Coinbase exchange with low-latency execution.
  version: '1.0'
  contact:
    name: Coinbase Developer Support
    url: https://help.coinbase.com
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.exchange.coinbase.com
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Profiles
  description: Manage exchange profiles and transfer funds between them.
paths:
  /profiles:
    get:
      operationId: listProfiles
      summary: List profiles
      description: Retrieves a list of trading profiles for the authenticated user. Profiles are used to separate trading activity.
      tags:
      - Profiles
      parameters:
      - name: active
        in: query
        description: Filter for active profiles only
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved profiles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
  /profiles/{profile_id}:
    get:
      operationId: getProfile
      summary: Get profile
      description: Retrieves a single profile by its profile ID.
      tags:
      - Profiles
      parameters:
      - name: profile_id
        in: path
        required: true
        description: Profile ID
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /profiles/transfer:
    post:
      operationId: transferBetweenProfiles
      summary: Transfer between profiles
      description: Transfers an amount of currency from one profile to another.
      tags:
      - Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              - currency
              - amount
              properties:
                from:
                  type: string
                  description: Source profile ID
                to:
                  type: string
                  description: Destination profile ID
                currency:
                  type: string
                  description: Currency to transfer
                amount:
                  type: string
                  description: Amount to transfer
      responses:
        '200':
          description: Transfer completed
components:
  schemas:
    Profile:
      type: object
      description: A trading profile
      properties:
        id:
          type: string
          description: Profile identifier
        user_id:
          type: string
          description: User identifier
        name:
          type: string
          description: Profile name
        active:
          type: boolean
          description: Whether the profile is active
        is_default:
          type: boolean
          description: Whether this is the default profile
        created_at:
          type: string
          format: date-time
          description: When the profile was created
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: CB-ACCESS-KEY
      description: Exchange API key authentication using HMAC SHA-256 signatures. Requires CB-ACCESS-KEY, CB-ACCESS-SIGN, CB-ACCESS-TIMESTAMP, and CB-ACCESS-PASSPHRASE headers.
externalDocs:
  description: Coinbase Exchange API Documentation
  url: https://docs.cdp.coinbase.com/exchange/docs/welcome
