openapi: 3.2.0
info:
  title: Coinbase Exchange Currencies API
  description: The Coinbase Exchange API provides high-throughput access to real-time market data and order management for institutional and professional traders. It supports REST APIs for direct order placement, account management, currency information, deposits, withdrawals, and live market data. The API is designed for high-volume trading operations on the Coinbase exchange with low-latency execution.
  version: '1.0'
  contact:
    name: Coinbase Developer Support
    url: https://help.coinbase.com
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.exchange.coinbase.com
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Currencies
  description: Retrieve information about supported currencies on the exchange.
paths:
  /currencies:
    get:
      operationId: listCurrencies
      summary: List currencies
      description: Retrieves a list of all known currencies on the exchange, including their names, minimum sizes, and status.
      tags:
      - Currencies
      security: []
      responses:
        '200':
          description: Successfully retrieved currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
  /currencies/{currency_id}:
    get:
      operationId: getCurrency
      summary: Get currency
      description: Retrieves information about a single currency by its currency ID.
      tags:
      - Currencies
      security: []
      parameters:
      - name: currency_id
        in: path
        required: true
        description: Currency identifier
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '404':
          description: Currency not found
components:
  schemas:
    Currency:
      type: object
      description: A currency supported on the exchange
      properties:
        id:
          type: string
          description: Currency identifier
        name:
          type: string
          description: Full name of the currency
        min_size:
          type: string
          description: Minimum size for this currency
        status:
          type: string
          description: Currency status
        details:
          type: object
          description: Additional currency details
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: CB-ACCESS-KEY
      description: Exchange API key authentication using HMAC SHA-256 signatures. Requires CB-ACCESS-KEY, CB-ACCESS-SIGN, CB-ACCESS-TIMESTAMP, and CB-ACCESS-PASSPHRASE headers.
externalDocs:
  description: Coinbase Exchange API Documentation
  url: https://docs.cdp.coinbase.com/exchange/docs/welcome
