openapi: 3.2.0
info:
  title: Coinbase Prime Address Book API
  description: The Coinbase Prime API enables institutions to manage cryptocurrency trading and custody on behalf of their clients. It supports programmatic trading strategies, automated platform processes, portfolio management, and custodial operations. The REST API provides endpoints for order execution, account management, transaction history, and reporting, designed for institutional-grade workflows and compliance requirements. API keys are scoped to individual portfolios and require HMAC SHA-256 authentication.
  version: '1.0'
  contact:
    name: Coinbase Prime Support
    url: https://help.coinbase.com/en/prime
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.prime.coinbase.com/v1
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Address Book
  description: Manage approved withdrawal addresses in the address book.
paths:
  /portfolios/{portfolio_id}/address_book:
    get:
      operationId: listAddressBook
      summary: List address book entries
      description: Retrieves the list of approved withdrawal addresses in the portfolio address book.
      tags:
      - Address Book
      parameters:
      - $ref: '#/components/parameters/PortfolioIdParam'
      - name: currency_symbol
        in: query
        description: Filter by currency symbol
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successfully retrieved address book
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddressBookEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 3000
        default: 100
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination
      schema:
        type: string
    PortfolioIdParam:
      name: portfolio_id
      in: path
      required: true
      description: Portfolio identifier
      schema:
        type: string
  schemas:
    AddressBookEntry:
      type: object
      description: An approved withdrawal address
      properties:
        id:
          type: string
          description: Address entry identifier
        currency_symbol:
          type: string
          description: Currency for this address
        name:
          type: string
          description: Label for the address
        address:
          type: string
          description: Blockchain address
        added_at:
          type: string
          format: date-time
          description: When the address was added
    Pagination:
      type: object
      description: Pagination information for list responses
      properties:
        next_cursor:
          type: string
          description: Cursor for the next page
        sort_direction:
          type: string
          description: Sort direction
        has_next:
          type: boolean
          description: Whether there are more results
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-CB-ACCESS-KEY
      description: Coinbase Prime API key authentication. Requires X-CB-ACCESS-KEY, X-CB-ACCESS-SIGNATURE, X-CB-ACCESS-TIMESTAMP, and X-CB-ACCESS-PASSPHRASE headers with HMAC SHA-256 signatures.
externalDocs:
  description: Coinbase Prime API Documentation
  url: https://docs.cdp.coinbase.com/prime/docs/rest-requests
