openapi: 3.2.0
info:
  title: Coinbase Onramp Session API
  description: The Coinbase Onramp API allows developers to integrate fiat-to-crypto purchasing and crypto-to-fiat selling directly into their applications. It provides REST APIs to discover available buy and sell options, generate price quotes, create one-click-buy URLs, and manage session tokens for embedded onramp experiences. The API supports multiple fiat currencies and payment methods.
  version: '1.0'
  contact:
    name: Coinbase Developer Support
    url: https://help.coinbase.com
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.developer.coinbase.com/onramp/v1
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Session
  description: Manage session tokens for embedded onramp widget authentication.
paths:
  /token:
    post:
      operationId: createSessionToken
      summary: Create session token
      description: Creates a session token for authenticating the embedded onramp widget. The token is used to initialize the Coinbase Onramp widget within a third-party application.
      tags:
      - Session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - destination_wallets
              properties:
                destination_wallets:
                  type: array
                  description: Wallet addresses to receive purchased crypto
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Wallet address
                      blockchains:
                        type: array
                        description: Supported blockchains for this address
                        items:
                          type: string
                      assets:
                        type: array
                        description: Supported assets for this address
                        items:
                          type: string
                      supported_networks:
                        type: array
                        description: Supported network identifiers
                        items:
                          type: string
      responses:
        '200':
          description: Session token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Session token for widget initialization
        '401':
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a CDP API key.
externalDocs:
  description: Coinbase Onramp Documentation
  url: https://docs.cdp.coinbase.com/onramp/docs/welcome
