openapi: 3.1.0
info:
  title: Coinbase Advanced Trade Accounts Allocations API
  description: The Coinbase Advanced Trade API provides programmatic access to advanced trading features on the Coinbase platform. Developers can automate market, limit, and stop-limit orders, manage portfolios, retrieve real-time and historical market data, and monitor fees. The REST API is available at api.coinbase.com/api/v3/brokerage and supports authenticated access using API keys with HMAC SHA-256 signatures. Public market data endpoints do not require authentication.
  version: '3.0'
  contact:
    name: Coinbase Developer Support
    url: https://help.coinbase.com
  termsOfService: https://www.coinbase.com/legal/user-agreement
servers:
- url: https://api.coinbase.com/api/v3/brokerage
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Allocations
  description: View and manage order allocations across sub-portfolios.
paths:
  /portfolios/{portfolio_id}/allocations:
    get:
      operationId: listPortfolioAllocations
      summary: List portfolio allocations
      description: Retrieves a list of order allocations for the given portfolio. Allocations represent the distribution of fills across sub-portfolios.
      tags:
      - Allocations
      parameters:
      - $ref: '#/components/parameters/PortfolioIdParam'
      - name: product_ids
        in: query
        description: Filter by product IDs
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortDirectionParam'
      responses:
        '200':
          description: Successfully retrieved allocations
          content:
            application/json:
              schema:
                type: object
                properties:
                  allocations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Allocation'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  parameters:
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination
      schema:
        type: string
    SortDirectionParam:
      name: sort_direction
      in: query
      description: Sort direction for results
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: DESC
    LimitParam:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 3000
        default: 100
    PortfolioIdParam:
      name: portfolio_id
      in: path
      required: true
      description: Portfolio identifier
      schema:
        type: string
  schemas:
    Pagination:
      type: object
      description: Pagination information for list responses
      properties:
        next_cursor:
          type: string
          description: Cursor for the next page
        sort_direction:
          type: string
          description: Sort direction
        has_next:
          type: boolean
          description: Whether there are more results
    Allocation:
      type: object
      description: An order allocation across sub-portfolios
      properties:
        allocation_id:
          type: string
          description: Allocation identifier
        order_id:
          type: string
          description: Source order ID
        product_id:
          type: string
          description: Product traded
        side:
          type: string
          description: Trade side
        avg_price:
          type: string
          description: Average allocation price
        base_quantity:
          type: string
          description: Base quantity allocated
        quote_value:
          type: string
          description: Quote value allocated
        fees_allocated:
          type: string
          description: Fees allocated
        status:
          type: string
          description: Allocation status
        created_at:
          type: string
          format: date-time
          description: When the allocation was created
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: CB-ACCESS-KEY
      description: Coinbase API key authentication using HMAC SHA-256 signatures. Requires CB-ACCESS-KEY, CB-ACCESS-SIGN, and CB-ACCESS-TIMESTAMP headers.
externalDocs:
  description: Coinbase Advanced Trade API Documentation
  url: https://docs.cdp.coinbase.com/coinbase-app/advanced-trade-apis/rest-api
